@media screen and (max-width: 400px) {
    button{
        font-size: 18px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
        background-color: #c6d9f1;
    
        align-items: center;
        justify-content: right;
        height: 20%;
    }

    .mainpage_box{
        margin-top: 3vh;
        margin-bottom: 3vh;
        margin-left: 5vw;
        margin-right: 5vw;
        min-width: 20%;
    
        background-color: #ffffff;
    
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .parent{
        display: grid;
        grid-template-columns: 1fr;
    }

    .right_box{
        display: grid;
        grid-template-rows: 5fr 1fr;
    }

    .right_center_box{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    }

    .third{
        background-color: #ffffff;

        padding: 5%;
    }

    .second{
        background-color: #eaf1dd;

        display: grid;
        grid-template-columns: 1fr 4fr;
    }

    .fourth{
        background-color: #eaf1dd;

        padding: 5%;
    
        display: grid;
        grid-auto-flow: column;
    
        align-items: center;
        justify-content: left;
    }
    
    .fifth{
        background-color: #fde9d9;

        padding: 5%;
        
        display: grid;
        grid-auto-flow: column;
    
        align-items: center;
        justify-content: left;
    }

    .sixth{
        background-color: #c6d9f1;
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    
        align-items: center;
        justify-content: right;
    }

    .bottom_box{
        margin-top: 1%;
        margin-left: 5%;
        margin-right: 10%;
        min-width: 30%;
        min-height: 15%;
    
        background-color: #ffffff;
    
        display: grid;
        align-items: center;
        justify-content: center;
    }
}